body {
  display: flex;
  overflow-x: hidden;
  background: #ececec;
  color: #151515;
  border: solid 9px #4ee58b;
  margin: 0;
  min-height: 100vh;
}

.roboto {
  font-family: 'Anton', sans-serif;
}

.clippable {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.changable {
  cursor: pointer;
  user-select: none;
}

#root {
  width: 100%;
}

#root .provider {
  display: flex;
  height: 100%;
  flex-direction: column;
}
